@{
    ViewData["Title"] = "İletişim";
}

<div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-center">Sistem yapım aşamasındadır.</h3>     
            <img src="https://i1.wp.com/looks-awesome.com/wp-content/uploads/2017/05/Under-Construction-plugin.jpg?w=810&ssl=1" />
        </div>
    </div>
</div>